/*ESTERLIZANDO O PLANO DE PREGADORES*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}
/*=====CONFIGURANDO A TABELA DE ESCLALAS ======*/
.tabela-planificao {
    width: 95vw;
    height: 85vh;
    background: #fff;
    margin: 85px auto 30px auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    backdrop-filter: blur(7px);
    box-shadow: var(--box-shadow);
}
.tabela-planificao .anotacao {
    background: var(--color-sucess);
    color: #fff;
    text-align: center;
}
.tabela-planificao table {
    width: 100%;
    margin: auto;
}
.tabela-planificao .tabela-escala {
    width: 98%;
    max-height: calc(89% - 2rem);
    margin: 1rem auto 1rem auto;
    overflow: auto;
}
.tabela-planificao .tabela-escala::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.tabela-planificao .tabela-escala::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #0004;
    visibility: hidden;
}
.tabela-planificao .tabela-escala:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.tabela-planificao table thead th{
    position: sticky;
    left: 0;
    top: 0;
   text-align: left;
   background: #0084FF;
   color: #fff;
}
.configuracoes-planos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    margin: 0 auto 0 auto;
    background: #fff;
    border-radius: 10px;
   
}
/*====PROGRAMA TRIMESTRAL LITURGISTA E PREGADORES====*/
.show {
    width: 60%;
}
.cabecalho-plano {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 2px 2px 12px rgba(0,0,0,.2) ;
}

.campo-pesquisa form{
    margin-left: 20px;
}
.campo-pesquisa .pesq{
    display: flex; 
    flex-direction: column;
}
.campo-pesquisa .pesqu input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 4px;
}
.campo-pesquisa input[type="submit"]{
    padding: 5px;
    background: #B2B2B2;
    color: #444B54;
}
.campo-pesquisa .pesqu input:focus{
    outline: none;
}
.add-plano  {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0084FF;
    padding: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: sans-serif;
    margin-right: 10px;

}
/*ESTERLIZANDO ADICIONAR PLANO*/
/*caixa informação actividades*/
.formActividade{
    width: 500px;
    height: 300px;
    padding: 1rem;
  
}
/*=============================*/
/*caixa para adicionar planos*/
.formPlano{
    width: 500px;
    height: 300px;
    padding: 1rem;
}
/*=============================*/
/*caixa para adicionar receitas*/
.formFinancas{
    width: 500px;
    height: 200px;
    padding: 1rem;
}
/*============================*/
.fechar-form-actividade {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0084FF;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute; 
    right: -4px;
    top: -5px;
}
.tabela-actividades .dado-none{ 
    display: none;
}  
.caixa-informacao .info textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 3px;
}
.caixa-informacao .info textarea:focus{
    outline: none;
}
/*=======TABELA DE ACTIVIDADES PLANIFICADAS========*/
.actividades {
    width: 95%;
    height: 88vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 70px auto 30px auto;
    background: #fafbfc;
    backdrop-filter: blur(7px);
    overflow: auto;
}
.actividades::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.actividades::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #0004;
    visibility: hidden;
}
.actividades:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.configuracoes-actividades {
    display: flex;
    align-items: center;
    background: #fafbfc;
    width: 100%;
    height: 10%;
    padding: 5px 30px;
}
.tabela-actividades {
    height:400px;
    overflow: auto;
    min-height: calc(89% - 2rem);
    width: 95%;
    margin: 0 auto 0 auto;
}
.dashboard-actividades-central .list-dash {
    color: var(--color-info-dark);
    margin-left: 1.5rem;
    margin-bottom: -1rem;
}
.actividades .lista {
    color: var(--color-info-dark);
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.tabela-actividades::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.tabela-actividades::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #0004;
    visibility: hidden;

}
.tabela-actividades:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.tabela-actividades table {
    width: 100%
}
.tabela-actividades table thead th {
    position: sticky;
    top: 0;
    left: 0;
    background: #1A6ED8;
    color: #fff;
}
.actividades .dashboard {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding: 2rem 3rem;
}
.actividades .planificadas
{
   display: flex;
   align-items: center;
   gap: 2rem;
   background: var(--color-white);
   box-shadow: var(--box-shadow);
   padding: var(--card-padding);
   border-radius: var(--card-border-radius);
   width: 18rem;
}
.dashboard-actividades-central .dashboard span img {

    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    width: 40px;
    background: var(--color-primary);
    margin-bottom: 1rem;
}
.dashboard-actividades-central .dashboard .sucesso img {
    background: var(--color-sucess);
}
.dashboard-actividades-central .dashboard .alerta img {
    background: var(--color-warning);
}
.dashboard-actividades-central .dashboard .total img {
    background: #24292F;
}
.box-procurar-2 {
    border: 2px solid #ccc;
    position: relative;
    width: 220px;
    height: 30px;
    display: flex;
    border-radius:8px;
    margin-left: 10px;

}
.box-procurar-2 input {
    width: 100%;
    padding: 0 2rem;
    border-radius: 8px;
}
.box-procurar-2 img{
    position: absolute;
    top: 20%;
    padding: 0 0.5rem;
}
/*ESTATÍSTICA DE MEMBROS*/
.itens-estatistica {
    width: 90%;
    gap:10px;
    margin: 90px auto 30px auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
.itens-estatistica::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.itens-estatistica::-webkit-scrollbar-thumb{
   visibility: hidden;
   background-color: #0004;
   border-radius: 8px;
}
.itens-estatistica:hover::-webkit-scrollbar-thumb{
    visibility: visible;
 }
.dashboard-estatistica {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 10px auto 0 auto;
}
.itens-estatistica .titulo-geral {
    text-align: center;
}
.itens-estatistica .iten img {
   width: 42px;
   height: 42px;
   border-radius: 50%;
   margin-bottom: 10px;
   background: var(--color-sucess);
   padding: .3rem;
}
.itens-estatistica .iten  {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 270px;
    height: 150px;
    font-family: poppins;
    color: #323232;
    text-align: left;
    box-shadow: 2px 2px 12px rgba(0,0,0,.2);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 15px auto 0 auto;

}
/*ALBUM DE FOTOGRAFIAS*/
.container-imagens{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "container-search"
    "container-2";
    min-height: 100vh;
    position: fixed;
    background: #fafbfc;
    width: 100%;
    padding: 40px 20px;
    margin: 75px auto;
   overflow-y: scroll;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; 
   
}
.container-search {
    grid-area:container-search;
    position: fixed;
    background: #fff;
    width: 100%;
    margin: -40px auto 10px -20px;
    padding: 0px 0;
    z-index: 1;
}
.search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    background: green;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 10px;
  
}
.container-2{
    grid-area: container-2;
    background: #fafbfc;
    margin-top: 20px;
    box-shadow: var(--box-shadow);
 
}
.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid #ccc;
    background-color: #fafbfc;
    color: #999;
    padding: 0 15px 0 45px;
    font-size: 16px;
    border-radius: 6px;
}
.search-box img {
    position: absolute;
    z-index: 2;
    top:50%;
    left: 15px;
    transform: translateY(-50%);
}
.container-imagens .imagem-box {
    width: 300px;
    height: 210px;
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 8px;
}
.container-imagens .imagem-box img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s linear;
   object-fit: cover;
   background-size: cover;
   position: relative;
}
.imagem-box:hover img {
    transform: scale(1.05);
}
.imagem-box  h6 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-transform: capitalize;
}

.container-imagens .imagens {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
/*ADICIONAR FOTO*/
.add-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #008BD2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: -1;
    box-shadow:2px 2px 12px rgba(0,0,0,.2);
    margin-left: 100px;
    margin-top: -40px;
    transition: transform .2s linear;

}
.add-imagem:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.accoes {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 180px;
    left: 10px;

}

.accoes a:nth-child(1){
    margin-right: 13px;
}
.accoes a {
    background: rgba(0,0,0,.2);
}
/*MEXER PERFIL DO USUÁRIO*/
.perfil-membro {
    display: flex;
    width: 80%;
    min-height: 50vh;
    margin: 80px auto 50px auto;
    background: #fff;
    box-shadow:2px 2px 12px rgba(0,0,0,.2);
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.dados-pessoais {
    display: flex;
    justify-content: center;
    width: 50%;
    background: linear-gradient(135deg,#008BD2,#A178ED);
}
.dados-pessoais ul li{
    font-family: 'Inter',sans-serif;
    color: #fff;
    font-size: 1.2em;
}
.dados-pessoais ul{
    margin-top: 20px;
}
.historial {
    margin-left: 40px;
    width: 50%;
    overflow: auto;

}
.historial::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.historial::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #0004;
    visibility: hidden;
}
.historial:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.historial p {
    font-family: 'Inter',sans-serif;
    line-height: 35px;
}
ul .imagem-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul .imagem-perfil img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.dados-pessoais ul li{
    text-align: center;
}
.dados-pessoais ul li:nth-child(2)
{
    font-size: 22px;
    margin-top: 10px;
}
.dados-pessoais ul li:nth-child(3)
{
    font-size: 18px
}
.historial h6 {
    font-family: 'Inter',sans-serif;
    font-size: 25px;
    color: #323232;
    margin-top: 20px;
    margin-bottom: 10px;
}
.historial h6::after {
    content: '';
    width: 5rem;
    height: 0.3em;
    background-color: #6C63FF;
    margin: 0 auto;
    display: block;
    position: absolute;
    border-radius: 10px;
}
@media screen and (max-width:1200px){
    .dashboard-estatistica {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;

    }

}
@media screen and (max-width:768px){
    .dashboard-estatistica {
        grid-template-columns: 1fr  1fr;
        gap: .5em;
        width: 100%;
    }
    .actividades{
        margin-top: 100px;
    }
    .actividades .dashboard{
        grid-template-columns: 1fr;
        width: 100%;
        display: none;
    }
    .list-dash{
        display: none;
    }
    .dashboard .planificadas {
        width: 100%;
    }
}